<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Jumbotron Template for Bootstrap</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="home">Strona domowa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="ticket-selection">Zakup biletu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Dla pracowników<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Szukaj" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Najlepsze z najlepszych!</h1>
      <p>Nasze lotnisko jest jednym z najpopularniejszych w okolicy.
        Cechujemy się przede wszystkim bezpiecznym przewozem osób cywilnych w samolotach o maksymalnej objętości 40 pasażerów.
        Zapewniamy także atrakcyjne ceny oraz okazjonalne promocje.
        Nasze lotnisko cięgle się rozwija w celu zapewnienia coraz to lepszych warunków podróży oraz zmniejszenia jej czasu.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Dowiedz się więcej &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Bilety</h2>
        <p> W celu zakupu biletu należy wyszukać optymalny kurs a następnie zarezerwować miejsce w samolocie.
          W dalszej części otrzymacie państwo instrukcje na temat płatności oraz inne informacje.</p>
        <p><a class="btn btn-secondary" href="ticket-selection" role="button">Zakup bilet &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Obsługa</h2>
        <p>Nieustannie dbamy o rozwój naszych pracowników.
          Wierzymy, że to oni pozwalają nam zapewnić najlepszą jakość usług.
          Zobacz jakie szkolenia przechodzą nasi pracownicy.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Nasz personel &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Współpraca</h2>
        <p>Jako najlepszy lokalny przewoźnik prowadzimy współpracę z lokalnymi biurami podróży.
          Pozwala nam to zapewnić konkurencyjne ceny oraz poszerzać horyzonty o nowe lotniska. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Nasi współpracownicy &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</main>

<footer class="container">
  <p>&copy; AirportCompany 2018-2019</p>
</footer>

</body>
</html>
