<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Jumbotron Template for Bootstrap</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Strona domowa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Zakup biletu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Dla pracowników<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Szukaj" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Gratulację!</h1>
    <p>Nasze lotnisko jest jednym z najpopularniejszych w okolicy.
      Cechujemy się przede wszystkim bezpiecznym przewozem osób cywilnych w samolotach o maksymalnej objętości 40 pasażerów.
      Zapewniamy także atrakcyjne ceny oraz okazjonalne promocje.
      Nasze lotnisko cięgle się rozwija w celu zapewnienia coraz to lepszych warunków podróży oraz zmniejszenia jej czasu.</p>
  </div>
</div>

<div class="container">

  <h2> Jest nam niezmiernie miło, że zakupiłeś u nas bilet na swoją podróż. Dziękujemy
  za zaufanie. Nasza firma dołoży wszelkich starań, aby ta podróż była niezapomniana!</h2>
  <hr class="mb-4">
  <h2> Pamiętaj jednak, że od momentu zakupu masz 8 godzin na opłacenie podróży.
    W przeciwnym wypadku miejsce może zostać zarezerwowane innemu klientowi.</h2>
  <hr class="mb-4">
  <h2>Wszystkie informacje zostały do ciebie wysłane drogą elektroniczną.</h2>

</div>
<hr class="mb-4">
<footer class="container">
  <p>&copy; AirportCompany 2018-2019</p>
</footer>
</body>
</html>

